{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh; padding-top: 2rem; padding-bottom: 2rem;">
    <h1 class="mb-4">Définir un nouveau mot de passe</h1>

    <form method="post" style="width: 100%; max-width: 400px;">
        <div class="mb-3">
            <label for="password" class="form-label">Nouveau mot de passe :</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-success w-100">Valider</button>
    </form>
</div>
{% endblock %}
