{% extends 'base.html.twig' %}

{% block title %}Succes Commande{% endblock %}

{% block body %}
 <div class="container-fluid py-5">
            <div class="container py-5 text-center">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <i class="bi bi-trophy display-1 text-success"></i>
                        <h1 class="mb-4">Paiement réussi</h1>
                        <p class="mb-4">Votre commande a bien été prise en compte, vous recevrez un mail de confirmation !</p>
                        <a class="btn border-secondary rounded-pill py-3 px-5" href="">Retour à l'accueil</a>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}
