{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie</h1>

    {{ include('categorie/_form.html.twig', {'button_label': 'Créer'}) }}

    <a href="{{ path('category_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
